@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.hide{
  width: 0; height: 0;
  line-height: 0px;
  position: absolute;
  font-size: 0px;
  visibility: hidden;
}

article{
  padding: 45px 0 50px;
}
article>h3{
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}y

a{
  text-decoration: none;
  color: #000;
}

#wrap{
  width: 100%;
  position: relative; 
}
img{
  max-width: 100%;
  /* 사이즈제약을 둬서 나중에 편하게 한다. */
}

header{
  width: 100%;
  background-color: rgba(49, 27, 57, 0.8);
  position: fixed;
  left: 0; top: 0;
  z-index: 99;
}
#hwrap{
  width: 100%;
  /* width: 1160px; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
#hwrap>h1{}
#hwrap>h1>a{
  width: 180px;
  font-size: 30px;
  line-height: 72px;
  color: #fff;
}
#hwrap>nav{
  /* position : relative */
}
#hwrap>nav>ul{
  width: 400px;
  display: flex;
  justify-content: space-around;
}
#hwrap>nav>ul>li{ 
  line-height: 71px;
}

#hwrap>nav>ul>li>a{
  font-size: 18px;
  color: #fff; 
}

p.close{
  display: none;
  width: 5vw; height: 5vw;
  position: absolute;
  right: 2.5vw; top: 2.5vw;
  background-color: red;
}

p.btn{
  display: none;
  position: absolute;
  right: 20px; top: 25px;
  width: 35px;
  height: 25px;
  background-color: red;
  z-index: 100;
  /* background: url(../images/menu_icon.png) no-repeat; */
}

/* sec01 */
#sec01{
  /* width: 100%; */
  width: 100%;
  height: 100vh;
  background: url(../images/header_back.png) no-repeat center top;
  position: relative;
  
}

#sec01>h3{
  
  font-size: 72px;
  position: absolute;
  left: 0; top: 24.17%;

  font-family: 'Raleway', sans-serif;
  color: #fff;
}

#sec01>ul{
  position: absolute;
  left: 50%; bottom: 16.578%;
  margin-left: -48.70689655172414%;
  /* 1160기준 -565 */
  width: 97.41379310344828%; 
  /* 1160px */
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

#sec01>ul>li{
  width: 33.33333%;

}
#sec01>ul>li>span{
  display: block;
  /* 당장은 퍼센트 값으로 넣지말것 */
  width: 230px; height: 230px;
  margin: 0px auto 16px;
  background: rgba(255, 255, 255, 0.7) url('../images/header_icon_01.png') no-repeat center;
  border-radius: 50%;
}

#sec01>ul>li:nth-child(2)>span{background-image: url(../images/header_icon_02.png);}
#sec01>ul>li:nth-child(3)>span{background-image: url(../images/header_icon_03.png)}

#sec01>ul>li>dl{
  width: 230px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

#sec01>ul>li>dl>dt{margin-bottom: 10px;}

/* sec02 */

#sec02{
  padding: 70px 0;
  background-color: rgb(232, 232, 232);
  
}

#sec02>h3{
  font-size: 59px;
  font-family: 'Raleway', sans-serif;
}

#sec02>section{
  width: 98%;
  /* width 1160 */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sec02>section>h4{
  width: 26.89655172413793%;
  /* 312 */
  text-align: center;
}
#sec02>section>ul{
  width: 63.44827586206897%;
  /* 736 */
  font-size: 18px;
}

#sec02>.info{
  margin-bottom: 68px;
}

#sec02>.info>h4>img{
  width: 287px;
  height: 190px;
}
#sec02>.info>ul{}
#sec02>.info>ul>li{
  margin-bottom: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
#sec02>.info>ul>li>dfn{
  display: inline-block;
  width: 145px;
}
#sec02>.info>ul>li>span{
  display: inline-block;
}

.skill>h4{
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
  text-align: center;

}
.skill>ul{
  background-color: orange;
}

/* dfn의 위치를 확보하기위해서 padding으로 밀어버리기 포토샵으로 처음에 전략을 잡을때 아얘 잡고가는게 좋다 잘못된 디자인은 헷갈리게한다. */
.skill>ul>li{
  padding-left: 145px;
  position: relative;
  margin-bottom: 39px;
}
.skill>ul>li>dfn{
  position: absolute;
  width: 145px;
  left: 0; top: 0;
}
.skill>ul>li>span{
  display: block;
  width: 100%;
  background: #333 url(../images/bar.gif) no-repeat left top;
  text-indent: -99999px;
  height: 32px;
  border-radius: 10px;
}

/* nthchild는li요소에 붙는자 자꾸 헷갈려하지말것 */
.skill>ul>li:nth-child(1)>span{
  background-size: 50% 100%;
}
.skill>ul>li:nth-child(2)>span{
  background-size: 60% 100%;
}
.skill>ul>li:nth-child(3)>span{
  background-size: 88% 100%;
}
.skill>ul>li:nth-child(4)>span{
  background-size: 30% 100%;
}
.skill>ul>li:nth-child(5)>span{
  background-size: 22% 100%;
}

/* sec03 */

#sec03{
  
}

#sec03>h3{
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}
#sec03>ul{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
#sec03>ul>li{
  line-height: 15px;
  padding: 0 15px;
  border-left: 1px solid #333;
}
#sec03>ul>li>a{
  font-size: 14px;
}

#sec03>ul>li:first-child{
  border-left: none;
}

#sec03>#gallery{
  position: relative;

}
#sec03>#gallery>#gshow{}
#sec03>#gallery>#gshow>#gall{
  width: 97.41379310344828%; 
  /* 1130px */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#sec03>#gallery>#gshow>#gall>figure{
  width: 33.3333%;
  text-align: center;
  margin-bottom: 72px;
}
#sec03>#gallery>#gshow>#gall>figure>img{
  margin: 0px auto;
  width: 259px;
  border-radius: 50%;
  margin-bottom: 23px;
}
#sec03>#gallery>#gshow>#gall>figure>figcaption{
  font-size: 20px;
  line-height: 1.4em;
}

#gallery>.next{
  display: none;
  background-color: red;
  position: absolute;
  right: 29px; top: 50%;
  width: 35px; height: 35px;
}
#gallery>.prev{
  display: none;
  background-color: red;
  position: absolute;
  left: 29px; top: 50%;
  width: 35px; height: 35px;
}

/* modal */
#modal{
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.7);
}

#modal>p.closee{
  position: absolute;
  right: 30px; top: 30px;
  width: 30px; height: 30px;
  background-color: red;
}
#modal>section{
  position: fixed;
  width: 980px;
  left: 50%; top: 50%;
  margin: -200px  0 0 -490px;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
}
#modal>section>h5{
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
  color: #666;
}
#modal>section>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#modal>section>div>figure{
  width: 40%;
}
#modal>section>div>dl{
  width: 50%;
  font-size: 20px;
  line-height: 1.5em;
}
#modal>section>div>dl>dt{
  width: 35%;
  clear: both;
  float: left;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
#modal>section>div>dl>dd{
  width: 65%;
  float: left;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
#modal>section>div>dl>dt:nth-of-type(4){
  border: none;
}
#modal>section>div>dl>dd:nth-of-type(4){
  border: none;
}

/* sec04 */

#sec04{
  background-color: #f93c64;
}

#sec04>h3{
  font-size: 50px;
}
#sec04>#crwap{
  width: 98%;
  /* 1160 */
  margin: 0 auto;
}
#crwap>form{
  width: 98%;
  background-color: turquoise;
}

#crwap ul{}
#crwap ul>li{
 position: relative;
 margin-bottom: 35px;
 padding-left: 145px; 
}
#crwap ul>li>label{
  position: absolute;
  left: 0; top: 0;
  width: 145px;
  display: block;
  line-height: 50px;
  box-sizing: border-box;
  padding-left: 50px;
  background: url('../images/contact_icon_01.png') no-repeat 10px center;
  font-size: 22px;
}
#crwap ul>li:nth-child(2)>label{
  background-image: url('../images/contact_icon_02.png')
}
#crwap ul>li:nth-child(3)>label{
  background-image: url('../images/contact_icon_03.png')
}
#crwap ul>li:nth-child(4)>label{
  background-image: url('../images/contact_icon_04.png')
}


#crwap ul>li>input{
  line-height: 50px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: #fff;
  text-indent: 10px;
}

#crwap ul>li>textarea{
  text-indent: 10px;
  line-height: 50px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  background-color: #fff;
  resize: none;
}



#crwap>form p{
  text-align: right;
}
#crwap p>input{
  width: 125px;
  line-height: 45px;
  background-color: orange;
  color: #fff;
  border: none;
  font-size: 24px;
  border-radius: 10px;
}

aside>.submenu{
  position: fixed;
  right: 15px; top: 50%;
  z-index: 999;

}
aside>.submenu>li{
  margin-bottom: 20px;

}
aside>.submenu>li>a{
  display: block;
  width: 25px; height: 25px;
  border-radius: 50%;
  text-indent: -99999px;
  background-color: red;
}

aside>.top{
  width: 45px; height:45px;
  position: fixed;
  right: 15px; bottom: 25px;
  text-indent: -9999px;
  background-color: red;
}

footer{
  background-color: #333;
  padding: 47px;
  text-align: center; 
}
footer>small{
  font-size: 15px;
  color: #fff;
}